.Contador input {
  font-size: 1.4rem;
  width: 5rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  text-align: center;
  margin: 1.5rem 0;
}

.Contador button {
  font-size: 1.4rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: #1499d3;
  color: #fff;
  border: #1499d3;
}